/*background and big structure*/
    .main {
        width: min(90%, 1000px);
        margin-inline: auto;
        color: var(--main-text2);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-bottom: 10rem;
    }
/*title*/
    .title-clubhouse {
        color: var(--main-text1);
        font-size: 40px;
        margin-top: 160px;
    }
/*overview*/
    h3 {
        font-size: 24px;
        color: var(--main-text1);
        margin-bottom: 32px;
        margin-top: 60px;
    }
    .overview-flex {
        display: flex;
        flex-direction:row;
        align-items: center;
        gap:56px;
        margin-bottom: 32px;
        padding: 32px;
    }
    @media(max-width:800px) {
        .overview-flex {
            flex-direction: column;
        }
    }
    .overview-flex > * {
        flex-basis: 100%;
    }
    .overview-flex img {
        width: 100%;
    }
    .overview-flex p{
        line-height: 140%;
    }
    .highlight-1 {
        font-size: 20px;
        font-weight: 700;
    }
/*research*/
    .research-flex {
        display: flex;
        flex-direction: row;
        gap: 32px;
        margin: 24px;
        text-align: center;
    }
    @media(max-width:800px) {
        .research-flex {
            flex-direction: column;
        }
    }
    .research-flex > * {
        flex-basis: 100%;
        background-color: rgba(193, 193, 193, 0.2);
        padding: 24px;
        border-radius: 24px;
    }
    .quote {
        font-style: italic;
        font-weight: 300;
        font-size: 14px;
        line-height: 160%;
        margin-top: 24px;
    }
    .p-flex-start {
        align-self: flex-start;
    }
/*analysis*/
/*personas*/
    .analysis-flex {
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 40px;
        margin-top: 24px;
        margin-bottom: 24px;
        padding: 40px;
    }
    @media(max-width:700px) {
        .analysis-flex {
            flex-direction: column;
        }
    }
    .analysis-flex > * {
        flex-basis: 100%;
        background-color: rgba(193, 193, 193, 0.2);
        padding: 24px;
        border-radius: 24px;
        font-weight: 600;
        text-align: center;
    }
    .analysis-flex p {
        font-size: 14px;
        font-weight: 300;
    }
    .highlight-3 {
        color: rgb(132, 168, 250);
        font-size: 18px;
    }
    .analysis-p {
        margin:24px 0px 48px 0px;
    }
    .analysis-flex-persona {
        width: 70%;
        margin: auto;
        margin-top: 40px;
        margin-bottom: 72px;
        display: flex;
        flex-direction: row;
        gap: 56px;
        font-size: 14px;
    }
    @media(max-width:700px) {
        .analysis-flex-persona {
            flex-direction: column;
        }
    }
    .analysis-flex-persona > * {
        display: flex;
        flex-direction: column;
        align-items: center;
        flex-basis: 100%;
        gap: 24px;
    }
    .img-container {
        display: flex;
        justify-content: center;
    }
    .analysis-flex-persona img {
        width: 50%;
        border-radius: 80px;
    }
    .analysis-flex-persona p {
        text-align: center;
    }
/*user-journey*/
    .analysis-p-container {
        width: 100%;
    }
    .userflow-img-container img {
        width: 100%;
        margin-top: 24px;
        margin-bottom: 24px;
        border-radius: 16px;
    }
    .userflow-subtitle {
        font-size: 14px;
        color: gray;
        margin-top: 0;
    }
    .userflow-flex-1 {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 40px;
    }
    .userflow-flex-2 {
        display: grid;
        grid-template-columns: 1fr 0.2fr 1fr;
        padding: 24px 80px 0px 80px;
        font-size: 14px;
    }
    @media(max-width:700px) {
        .userflow-flex-2 {
            grid-template-columns:1fr;
        }
    }
    .column-card {
        background-color: rgba(193, 193, 193, 0.2);
        border-radius: 24px;
        min-height: 96px;
        padding: 24px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .column-text {
        padding: 24px;
    }
    .or {
        display: flex;
        justify-content: center;
    }
    .or p {
        margin-top: 64px;
    }
/*ideate*/
    .ideate-flex {
        display: flex;
        flex-direction: column;
    }
    .ideate-flex img {
        width: 100%;
        border-radius: 12px;
        margin-bottom: 24px;
    }
    .wireframe {
        display: flex;
        flex-direction: row;
        justify-content:flex-start;
        gap:0.5%;
        margin-bottom: 2%;
    }
    .wireframe > * {
        width: 12%;
        border-radius: 8px;
    }
/*solition*/
.solution-flex {
        display: flex;
        flex-direction: column;
        gap: 12px;
    }
    .solution-flex img {
        width: 100%;
        border-radius: 24px;
    }
    .prototype-all {
        display: flex;
    }
    .prototype-all img {
        width: 100%;
        border-radius: 32px;
    }
