/*background-base-color*/
html {
    background-color: rgb(2, 6, 29);
    overflow-x: hidden;
}
:root {
    --background-lightblue:rgba(35, 41, 64, 0.6);
    --background-transparent:rgba(54, 61, 86, 0.1);
    --backgroud-border:rgba(173, 205, 230, 0.4);
}
body {
    margin: 0;
    padding: 0;
    background: 
    linear-gradient(to bottom, rgb(13, 19, 36), rgb(2, 6, 29));
    background-repeat: no-repeat;
    background-attachment: fixed;
    min-height: 100vh;
    overflow-x: hidden;
    font-family: Open Sans, Arial;
}
/*background picture*/
.landscape {
    position:relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height:100vh;
}
.landscape img {
    position: absolute;
    top: 10vh;
    width: 100%;
}
#f-r, #f-l {
    z-index: 10;
}
#star {
    width: 85%;
    left: 0;
}
/*navigation bar*/
nav {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 0.9rem;
    padding:1rem 0 0 0;
    z-index: 100;
}
.icon-menu {
    display: none;
}
.nav-menu {
    display: flex;
    justify-content: space-between;
    min-width: 24rem;
}
.nav-menu a {
    text-decoration: none;
    color: white;
    padding: 6px 12px;
    border-radius: 1rem;
    background-color: var(--background-transparent);
    transition: 0.4s;
}
.nav-menu a:hover,
.nav-menu a.active 
{
    background-color: rgba(255, 255, 255);
    color:rgb(0, 0, 14);
}
.nav-logo p {
    font-size: 1rem;
    font-weight: 700;
    margin: 0;
    letter-spacing: 1px;
    color: rgba(255, 255, 255, 0.9);
}
@media (max-width:55rem) {
    .nav-menu {
        position: absolute;
        top: 3rem;
        right: 1rem;
        min-width: 5rem;
        height: 12rem;
        padding: 1rem 1rem 0 1rem;
        flex-direction: column;
        justify-content: space-evenly;
        Backdrop-filter: blur(10px);
        background-color: rgba(11, 13, 30, 0.9);
        border-radius: 1rem;
        flex-direction: column;
        z-index: 200;
        display: none;
    }
    .nav-menu[data-open="true"] {
        display: flex;
    }
    .icon-menu {
        position: absolute;
        right:1rem;
        display: block;
        width: 1.5rem;
        z-index: 300;
    }
}

/*title*/
/*title-whole area*/
#title {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: white;
    z-index: 50;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
@media (max-width:30rem) {
    #title {
        width: 80%;
        top: 25%;
        transform: translate(-50%, 0);
    }
}
/*photo-area*/
.title-photo {
    display: flex;
    align-items: center;
    margin: 1rem;
}
.circle {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 9rem;
    height: 9rem;
    border: 2px dashed rgba(173, 216, 230, 0.5);
    border-radius: 70px;
}
.photo {
    width: 85%;
    border-radius: 6rem;
}
/*title-whole text area*/
.title-text {
    max-width: 60rem;
    display: flex;
    flex-direction: column;
    border-radius: 1rem;
    padding: 1rem;
    border: 2px solid lightblue;
    background-color: var(--background-transparent);
}
/*title-Hi*/
.title-text-1 {
    font-size: clamp(1.5rem, 4vw, 2.5rem);
    font-weight: 300;
    margin: 0;
    margin-inline: auto;
    position: relative;
    text-align: center;
}
.name {
    font-weight: 600;
}
/*title-Hi-butterfly*/
.title-text-1 img {
    width: 6vw;
    position: absolute;
    top: -1.5rem;
    left: 4px;
}
.butterfly {
    animation: butterfly 1s ease-in-out 0s infinite alternate;
}
@keyframes butterfly {
    33% {transform: scale(0.8, 0.95) translate(-2px, -4px);
        opacity: 0.7;}
    66% {transform: scale(1, 1) translate(-4px, -7px);
        opacity: 0.9;}
    100% {transform: scale(0.8, 0.95) translate(-6px, -10px);}
    }
/*title-other*/
.title-text-2 {
    font-weight: 600;
    font-size: clamp(1rem, 2vw, 1.3rem);
    margin: 0;
    padding: 0 8px 0 8px;
    text-align: center;
    color: rgba(255, 255, 255);
    background-color: rgba(86, 95, 126, 0.6);
    border-radius: 8px;
}
/*title-scroll-note*/
.scroll {
    position: absolute;
    bottom: -6rem;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(86, 95, 126, 0.3);
    padding: 0.5rem 0.5rem 0 0.5rem;
    border-radius: 1rem;
    z-index: 100;
}
.scroll img {
    width: 2rem;
}
@media (max-height: 38rem) {
    .scroll {
        display: none;
    }
}

/*sections-format*/
.sec-1, .sec-2 {
    width: min(80%, 60rem);
    margin-inline: auto;
    position: relative;
    display: flex;
    flex-direction: column;
    color: rgba(255, 255, 255, 0.9);
    border-radius: 1.5rem;
    padding: 2rem;
    margin-top: 1rem;
    z-index: 100;
}
.sec-1 h3, .sec-2 h3 {
    padding: 0px;
    margin: 0.5rem 2rem;
}
@media (max-width:30rem) {
    .sec-1, .sec-2 {
        border: none;
        padding: 1rem;
    }
}

/*section-about*/
/*about*/
.sec-1-about-text {
    padding: 0.2rem 2rem;
    border-radius: 2rem;
    text-align: justify;
    line-height: 150%;
    background-color: var(--background-lightblue);
    Backdrop-filter: blur(10px);
    margin-bottom: 1rem;
}
/*More about and resume*/
.resume-container {
    max-width: 19rem;
    margin-bottom: 3rem;
    float: right;
}
.resume-flex {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    border-radius: 1rem;
    padding: 0.5rem;
    font-size: 0.9rem;
    background-color: var(--background-transparent);
    border: 2px solid var(--backgroud-border);
}
@media (max-width:30rem) {
    .resume-flex {
        flex-direction: column;
    }
    .resume-container {
        float:none;
    }
}
.see-resume button {
    border:none;
    padding: 0.5rem 0.5rem;
    margin-right: 0.5rem;
    background-color: none;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 0.5rem;
    color: black;
    cursor: pointer;
    transition: 0.5s;
}
.see-resume button:hover {
    transform: translateY(-4px);
    box-shadow:1px 1px 0.5rem rgba(255, 255, 255, 0.4),
    -1px -1px 0.5rem rgba(255, 255, 255, 0.4) ;
}
.sec-1-resume-flex {
    display: flex;
    align-items: center;
}


/*section-all-skills-flex*/
.skill-set {
    display: flex;
    flex-direction: column;
    gap:0.5rem;
    background-color: var(--background-transparent);
    border: 2px solid var(--backgroud-border);
    border-radius: 2rem;
    padding: 1rem;
    z-index: 50;
}
/*Skill-row*/
.skill {
    display: grid;
    grid-template-columns: 6rem 60% 30%;
    grid-column-gap:1rem;
    background-color: var(--background-lightblue);
    padding: 0.5rem 1rem;
    border-radius: 1.5rem;
    transition: 0.4s;
    z-index: 10;
}
@media (max-width:48rem) {
    .skill {
        grid-template-columns: 1fr;
    }
}
.skill:hover {
    transform: scale(1.02);
}
/*Inside-each-skill-row*/
.skill h4 {
    align-self: center;
    justify-self: center;
    text-align: center;
    overflow-wrap: break-word;
}
.skill p {
    margin: 4px;
    align-self: center;
}
.high-light-1 {
    color: rgb(127, 171, 226);
    font-weight: 700;
}
/*Inside-each-skill-row----icons*/
.container-icon {
    align-self: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 0.5rem;
}
@media (max-width:40rem) {
    .container-icon {
        justify-content: center;
    }
}
.container-icon-small {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-right: 4px;
    margin: 4px;
    position: relative;
}
.skill img {
    width: 48px;
    border-radius: 12px;
    transition: 0.5s;
}
.skill img:hover {
    transform: scale(1.2);
}
.subtitle {
    position: absolute;
    top: 3.1rem;
    font-size: 0.7rem;
    font-weight: 600;
    opacity:0;
    transition: 0.5s;
    padding: 1px 2px;
    border-radius: 4px;
    z-index: 1000;
}
.container-icon-small:hover .subtitle {
    opacity: 1;
}


/*section-projects*/
.sec-2 {
    margin-top: 2rem;
    margin-bottom: 2rem;
}
.projects {
    display: flex;
    align-items: center;
    width: min(100%, 60rem);
    min-height: 31rem;
    position: relative;
    overflow: hidden;
    background-color: var(--background-transparent);
    border: 2px solid var(--backgroud-border);
    border-radius: 2rem;
}
@media (max-width:45rem) {
    .projects {
        overflow-x: auto;
    }
}
.project-array {
    display: flex;
    justify-content: flex-start;
    position: absolute;
    left: 1rem;
    transition: 0.5s all ease-out;
}
.project {
    width: 20rem;
    margin-left: 1rem;
    margin-right: 1rem;
    padding: 1rem;
    background-color: var(--background-lightblue);
    border-radius: 1.5rem;
    transition: 0.4s ease-in-out;
}
@media (max-width:30rem) {
    .project {
        width: 60vw;
    }
}
.project:hover {
    transform: scale(1.05);
}
.project img {
    width: 100%;
    border-radius: 1rem;
}
.project h4 {
    margin: 0.5rem 0;
}
.project p {
    font-size: 0.9rem;
    color: rgba(255, 255, 255, 0.8);
    margin: 0;
}
.project a {
    display: flex;
    justify-content: right;
    margin-right: 1rem;
    text-decoration: none;
}
.project-button {
    text-decoration: none;
    padding: 0.5rem 1rem;
    margin-top: 1rem;
    border: none;
    border-radius: 0.7rem;
    background-color: aliceblue;
    font-size: 14px;
    font-weight: 600;
    color: rgb(27, 33, 64);
    cursor: pointer;
    transition: 0.5s;
}
.project-button:hover {
    box-shadow:1px 1px 0.5rem rgba(255, 255, 255, 0.4),
              -1px -1px 0.5rem rgba(255, 255, 255, 0.4) ;
}

.left-arrow {
    position: absolute;
    top:55%;
    left:1rem;
}
.right-arrow {
    position: absolute;
    top:55%;
    right:1rem;
}
.left-arrow, .right-arrow {
    width: 2.5rem;
    Backdrop-filter: blur(10px);
    background-color: var(--background-lightblue);
    border-radius: 2rem;
    padding: 6px;
    z-index: 12;
    transition: 0.5s;
    cursor: pointer;
}
@media (max-width:30rem) {
    .left-arrow, .right-arrow {
        width: 1.5rem;
    }
}


/*section-contact*/
.sec-3 {
    width: min(80%, 60rem);
    margin-inline: auto;
    padding: 2rem 2rem 3rem 2rem;
}
.sec-3-flex {
    margin-inline: auto;
    display: flex;
    flex-direction: column;
    color: rgba(255, 255, 255, 0.9);
    overflow-wrap: break-word;
    background-color: var(--background-transparent);
    border-radius: 1rem;
    padding-bottom: 2rem;
}
.sec-3-flex > * {
    flex-basis: 100%;
    margin-left: 3rem;
    margin-right: 3rem;
}
.sec-3-download {
    display: flex;
    align-items: center;
    color: rgb(165, 197, 244);
    cursor: pointer;
    padding-top: 0.5rem;
}
