.contact-flex {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4rem;
    max-width: 50rem;
    margin-inline: auto;
    margin-top: 20vh;
    padding: 3rem;
}
.contact-flex-2 {
    display: flex;
    flex-direction: row;
    gap: 3rem;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 2rem;
    color: rgba(0, 0, 0, 0.7);
    background-color: rgba(230, 230, 250, 0.4);
    border-radius: 2rem;
}
@media (max-width:40rem) {
    .contact-flex-2 {
        flex-direction: column;
    }
}
.contact-flex-2 img {
    width: 3rem;
}