.pro-flex {
    max-width: 60rem;
    margin-inline: auto;
    margin-top: 10rem;
    margin-bottom: 10rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 0.5rem;
    flex-wrap: wrap;
}
.project {
    width: 20rem;
    margin: 5rem 1rem 0 1rem;
    padding: 1rem;
    background-color: white;
    box-shadow:1px 1px 12px rgba(0, 0, 0, 0.1);
    border-radius: 1.5rem;
    position: relative;
    transition: 0.4s ease-in-out;
}
.project:hover {
    transform: scale(1.05);
}
.project-img-container {
    height: 50%;
    border-radius: 1rem;
    overflow: hidden;
}
.project-img-container img {
    width: 100%;
    object-fit: cover;
}
.project h4 {
    margin: 1rem 0;
}
.project p {
    font-size: 0.9rem;
    color: rgb(93, 93, 93);
    margin: 0;
}
@media (max-width:30rem) {
    .project {
        width: 70vw;
    }
    .project-img-container {
    height: auto;
    }
.project p {
    margin-bottom:3rem;
    }
}
.project a {
    position: absolute;
    bottom: 1rem;
    right: 0;
    display: flex;
    justify-content: right;
    margin-right: 1rem;
    text-decoration: none;
}
.info-github {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}
.info-github img {
    width: 1.5rem;
    height: 1.5rem;
}
.project-button {
    text-decoration: none;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 0.7rem;
    background-color: rgb(219, 220, 228);
    font-size: 14px;
    font-weight: 600;
    color: rgb(0, 0, 0);
    cursor: pointer;
    transition: 0.5s;
    display: flex;
    align-items: center;
}
.project-button:hover {
    background-color: rgb(230, 231, 241);
}